doctype html
html
  head
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
  body
    h1
      a(href='/api/users/') Home
    block content
